import React, { Component } from 'react';
import classes from './{{pascalCase name}}.css'
class {{ pascalCase name }} extends Component {
    render(){
        return <h1>{{ pascalCase name }} Page</h1>
    }
}

export default {{ pascalCase name }};