html,
body {
  height: 100%;
  background-color: rgb(252, 252, 252);
  width: 100%;
}
.App {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

.MuiTab-wrapper {
  font-weight: bold;
  font-size: 25px;
}
